<!DOCTYPE html>
    <!-- css -->
{% extends "Layout.html" %}
{% block page_title %}
主页
{% endblock %}

{% block page_css %}
    <link href="/static/css/ArticleList.css" rel="stylesheet">
{% endblock%}

{% block content %}
    <!--your code-->
    <!-- articleList -->
    <div class="articleList">
      <h1 class="listTitle"><span class="label label-default">最新消息</span></h1>
      <div class="row"></div>
      
<!-- posts is a Paginate object -->
      {% for article in article_list.items %}
        <div class="articleItem container">
          <div class="articleInfo col-xs-8">
            <p>{{ article.content }}</p>
      
          </div>
        </div>
      {% endfor %}
      <div class="page">
        {% if article_list.has_prev %}<a href="{{ url_for('Home', page = article_list.prev_num) }}"><< Newer posts</a>{% else %}<< Newer posts{% endif %} |
        {% if article_list.has_next %}<a href="{{ url_for('Home', page = article_list.next_num) }}">Older posts >></a>{% else %}Older posts >>{% endif %}
      </div>

    </div>
{% endblock %}